<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/commodity.css">
</head>

<body style="background: #F4F4F4">
    <div class="nav-right"></div>
    <div class="nav-right2">
        <div class="nav-right-center">
            <div class="nav-right-logo"></div>
            <div class="nav-right-shopchar">
                <span></span>
                <a href="#">购物车
                    <b style="display:block;width:20px;color: #fff;background: red;text-align: center;border-radius: 50%">0</b>
                </a>
            </div>
            <div class="nav-right-customer">
                <span></span>
                <a href="#">联系客服</a>
                <div class="customer-hover">
                    <a href="">
                        <img src="../images/index-img/20185231412596F6209274F2205DA89EC5D8526DA1558B.png" alt="">
                    </a>
                    <a href="">
                        <img src="../images/index-img/2018523142146733800F7071E793FDB31B43587EBC4B9AB.png" alt="">
                    </a>
                </div>
            </div>
            <a href="#">
                <div class="nav-right-2code">
                    <div class="code2-hover">
                        <a href="">
                            <img src="../images/index-img/sj.png" alt="">
                        </a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="nav-right-return"></div>
            </a>
        </div>
    </div>
    <header>
        <div class="header-center">
            <div class="header-left">
                <p>您好，欢迎光临特步官方商城！&emsp;&emsp;&emsp;
                    <a href="">注册</a>
                    <a href="">登录</a>
                </p>
            </div>
            <div class="header-right">
                <a href="./login.html">我的特步</a>
                <a href="">品牌官网</a>
                <a href="">手机特步</a>
                <a href="./login.html">购物车
                    <span style="color: #B61D1D;">(0)</span>件</a>
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search-center">
            <div class="logo">
                <img src="../images/index-img/logo.png" alt="">
            </div>
            <div class="search-search">
                <form action="">
                    <input type="text">
                    <input type="button" value="搜索">
                </form>
            </div>
            <div class="search-img">
                <div class="allimg">
                    <img src="../images/index-img/210-70.jpg" alt="">
                    <img src="../images/index-img/huiyuan.jpg" alt="">
                    <img src="../images/index-img/210-70.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-center">
            <a href="">全部商品分类
                <div class="all-item">
                    <p>男鞋</p>
                </div>
            </a>
            <a href="./index.html">首页</a>
            <a href="">跑步
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">男子
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">女子
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">儿童
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">配件
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">马拉松
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">团购定制</a>
        </div>
    </div>
    <div class="details1">
        <div class="details1-center">
            <div class="histery">
                <a href="./index.html">首页</a> &gt;
                <a href="./man.html">产品系列</a> &gt; 特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677
            </div>
            <div class="details1-content">
                <div class="details1-content-left">
                    <div class="details1-img">
                        <img index=1 src="../images/Commodity-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        <div id="mask" style="display: none;width: 184px;height: 190px;"></div>

                    </div>
                    <div class="details1-big-img">
                        <div class="details1-big-img-hover">
                            <img index=2 src="../images/Commodity-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </div>
                    </div>
                    <div class="details1-small-img">
                        <ul>
                            <li>
                                <img src="../images/Commodity-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                            </li>
                            <li>
                                <img src="../images/Commodity-img/202081716371754052A42701D4E0E4D5F3594F7A3EF0FD0F.jpg" alt="">
                            </li>
                            <li>
                                <img src="../images/Commodity-img/2020817163717632793A4906659B1FBB8D25A33AADED9F78.jpg" alt="">
                            </li>
                            <li>
                                <img src="../images/Commodity-img/20208171637181157FEEAFA5D171952B9D121C98EF458218.jpg" alt="">
                            </li>
                            <li>
                                <img src="../images/Commodity-img/2020817163718213BC44CA0C0F38E73F102847AC942F8C9D.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="details1-icon">
                        <ul>
                            <li>
                                <a href="">官方直营</a>
                            </li>
                            <li>
                                <a href="">正品保障</a>
                            </li>
                            <li>
                                <a href="">七天退还</a>
                            </li>
                            <li>
                                <a href="">分享</a>
                            </li>
                            <li>
                                <a href="">收藏商品</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="details1-content-right">
                    <h2>特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</h2>
                    <div class="details1-price">
                        <div class="details1-price-top">
                            <span>官方折扣价</span>
                            <span>￥
                                <b>369.00</b>
                            </span>
                            <div style="float: right;display: flex;padding-top: 10px">
                               <a href="#"><img src="../images/man-img/coupons-btn-pc.png" alt=""></a>
                                <span>
                                    <img src="../images/man-img/code_icon.png" alt="">
                                    <img src="../images/Commodity-img/GetQrCode.aspx" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="details1-price-next">
                            <span>100%</span>￥369.00(降价通知)
                        </div>
                        <div class="details1-price-center">
                            <span>累计评价：
                                <b>0</b>
                            </span>
                            <span>累计售出：
                                <b>33</b>
                            </span>
                        </div>
                        <p>促销信息:</p>
                    </div>
                    <ul>
                        <li>
                            <b>颜&emsp;色：</b>
                            <span class="chouse">
                                <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="" width="25px"
                                    height="25px">
                            </span>
                            <span>
                                <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="" width="25px"
                                    height="25px">
                            </span>
                            <span>
                                <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="" width="25px"
                                    height="25px">
                            </span>
                        </li>
                        <li>
                            <b>尺&emsp;码：</b>
                            <span class="chouse">35</span>
                            <span>36</span>
                            <span>37</span>
                            <span>38</span>
                            <span>39</span>
                            <a href="#">尺码详情</a>
                        </li>
                        <li>
                            <b>我要买：</b>
                            <input type="button" value="-">
                            <input type="text" value="1">
                            <input type="button" value="+"> &emsp;件 (库存
                            <span>14</span>
                            件)
                        </li>
                    </ul>
                    <div class="details1-shop">
                        <div class="details1-shop-left">
                            <a href="#">
                                <span>加入购物车</span>
                            </a>
                        </div>
                        <div class="details1-shop-right">
                            <a href="#">
                                <span>立即购买</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details2">
        <div class="details2-center">
            <div class="details2-left">
                <div class="details2-left-top">
                    <div class="details2-left-title">商城搜索</div>
                    <div class="details2-left-cont">
                        <form action="">
                            <div class="key">
                                关键字：
                                <input type="text" name="" id="">
                            </div>
                            <div class="details2-left-pricve">
                                &emsp;价格：
                                <input type="text" name="" id=""> -
                                <input type="text">
                            </div>
                            <input type="submit" value="搜索">
                        </form>
                    </div>
                </div>
                <div class="details2-left-item">
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-list">
                        <div class="new_pro">
                            <img src="../images/Commodity-img/20191141344158A56D042718E7A3E3165408FCB3831145.png" alt="男鞋">
                            <p>男鞋</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#">跑步鞋</a>
                            </li>
                            <li>
                                <a href="#">篮球鞋</a>
                            </li>
                            <li>
                                <a href="#">休闲鞋</a>
                            </li>
                            <li>
                                <a href="#">板鞋</a>
                            </li>
                            <li>
                                <a href="#">综训鞋</a>
                            </li>
                            <li>
                                <a href="#">帆布鞋</a>
                            </li>
                            <li>
                                <a href="#">户外鞋</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="details2-left-buttom">
                    <div class="details2-left-rank">
                        <span>总销量排行</span>
                    </div>
                    <div class="details2-rank-content">
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan1.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan2.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan3.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan4.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan5.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                        <div class="comm-left-content">
                            <div class="comm-num">
                                <img src="../images/man-img/paihan6.png" alt="">
                            </div>
                            <div class="comm-img">
                                <a href="#">
                                    <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                                </a>
                            </div>
                            <p>
                                <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                            </p>
                            <h3>
                                <span>￥</span>289.00</h3>
                            <p>已售出
                                <span>116</span>件</p>
                        </div>
                    </div>
                    <div class="comm-left-bottom">
                        <span>最近浏览</span>
                    </div>
                </div>
            </div>
            <div class="details2-right">
                <div class="details2-right-header">
                    <ul>
                        <li class="details2-right-header-change">商品介绍</li>
                        <li>商品评论 <b>0</b></li>
                    </ul>
                    <span>手机购买
                        <img src="../images/Commodity-img/code_icon.png" alt="">
                    </span>
                </div>
                <div class="details2-right-content1">
                    <div class="details2-right-content1-top">
                        <ul class="detailso">
                            <li><b>商品名称：</b><strong>特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</strong></li>
                            <li><b>款号：</b><span>980318110677</span></li>
                            <li><b>品牌：</b><span>XTEP/特步</span></li>
                            <li><b>性别：</b><span></span></li>
                            <li><b>颜色分类：</b><span>
                            白色&nbsp;
                                       黑&nbsp;
                                       米&nbsp;
                                       
                               </span></li>
                            <li><b>尺码：</b><span>
                        35码&nbsp;
                                       36码&nbsp;
                                       37码&nbsp;
                                       38码&nbsp;
                                       39码&nbsp;
                                       
                            </span></li>
                            <li><b>市场价：</b><span>369.00</span></li>
                        </ul>
                    </div>
                    <div class="details2-right-content1-center">
                        <div>
                            <img src="../images/Commodity-img/980318110677_01.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_02.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_03.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_04.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_05.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_06.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_07.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_08.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_09.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_10.jpg" alt="">
                            <img src="../images/Commodity-img/980318110677_11.jpg" alt="">
                        </div>
                        <div>
                            <img src="../images/Commodity-img/cc.jpg" alt="">
                            <img src="../images/Commodity-img/sh.jpg" alt="">
                            <embed  height="400" src="https://cloud.video.taobao.com/play/u/353571709/p/2/e/1/t/1/32357022.swf"  width="750">
                            <img src="../images/Commodity-img/TB23ZWQep5N.eBjSZFKXXX_QVXa-353571709.jpg" alt="">
                            <img src="../images/Commodity-img/SIZE_02.jpg" alt="">
                            <img src="../images/Commodity-img/TB23ZWQep5N.eBjSZFKXXX_QVXa-353571709.jpg" alt="">
                            <img src="../images/Commodity-img/SIZE_03.jpg" alt="">
                            <img src="../images/Commodity-img/TB23ZWQep5N.eBjSZFKXXX_QVXa-353571709.jpg" alt="">
                            <img src="../images/Commodity-img/SIZE_04.jpg" alt="">
                            <img src="../images/Commodity-img/TB23ZWQep5N.eBjSZFKXXX_QVXa-353571709.jpg" alt="">
                            <img src="../images/Commodity-img/SIZE_05.jpg" alt="">
                            <img src="../images/Commodity-img/TB2EwdKqYRkpuFjSspmXXc.9XXa-353571709.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="details2-right-content2">
                    <div class="details2-right-content2-comments">

                    </div>
                    <div class="details2-right-content2-bottom">
                        <span>(共 <b>0</b> 条)</span>
                        <span>上一页</span>
                        <span>下一页</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttom" style="transform: translateY(0px);">
        <div class="buttom-top">
            <div class="bottom-top-center">
                <div class="bottom-top-center-left">
                    <ul>
                        <li><h5>关于我们</h5></li>
                        <li><a href="#">公司简介</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                    <ul>
                        <li><h5>购物指南</h5></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">用户注册</a></li>
                        <li><a href="#">购物流程</a></li>
                    </ul>
                    <ul>
                        <li><h5>售后服务</h5></li>
                        <li><a href="#">配送方式</a></li>
                        <li><a href="#">防伪查询</a></li>
                        <li><a href="#">发票制度</a></li>
                    </ul>
                </div>
                <div class="bottom-top-center-right">
                        <h3>400-008-7666</h3>
                        <p>周一至周日 8:30-21:30</p>
                        <a href="#"><img src="../images/index-img/zxkf1.png" alt=""></a>
                        <p>周一至周日 9:00-23:00</p>
                </div>
            </div>
        </div>
        <div class="buttom-img">
            <img src="../images/index-img/x-footer.jpg" alt="">
        </div>
        <div class="bottom-msg">
                <ul>
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=987">关于特步</a></li>
                    |
        
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=989">帮助中心</a></li>
                    |
        
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=991">友情联接</a></li>
                    |
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=992">联系我们</a></li>
                </ul>
                <p>
                    特步跑鞋 Copyright 2011 xtep.com 特步运动服 All Rights Reserved 特步官方旗舰店 ICP：闽ICP备05021253号-1 特步官网专卖店
                                </p><div style="width:300px;margin:0 auto; padding:20px 0 0 0;">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35020302001628" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://xtep.oss-cn-hangzhou.aliyuncs.com/guanwang/2016/12/08/1234.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35020302001628号</p></a>
                    </div>
        </div>
        <div class="bottom-foot">
            <div class="bottom-foot-img">
                <img src="../images/index-img/onlinepay.jpg" alt="">
                <img src="../images/index-img/goodwebsite.jpg" alt="">
                <img src="../images/index-img/salf.jpg" alt="">
                <img src="../images/index-img/ei_normal.png" alt="">
                <img src="../images/index-img/brand_bottom_large.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>
<script src="../js/animate.5.0.js"></script>
<script src="../js/commodity.js"></script>