<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="nav-right"></div>
    <div class="nav-right2">
        <div class="nav-right-center">
            <div class="nav-right-logo"></div>
            <div class="nav-right-shopchar">
                <span></span>
                <a href="#">购物车<b style="display:block;width:20px;color: #fff;background: red;text-align: center;border-radius: 50%">0</b></a>
            </div>
            <div class="nav-right-customer">
                <span></span>
                <a href="#">联系客服</a>
                <div class="customer-hover">
                    <a href=""><img src="../images/index-img/20185231412596F6209274F2205DA89EC5D8526DA1558B.png" alt=""></a>
                   <a href=""> <img src="../images/index-img/2018523142146733800F7071E793FDB31B43587EBC4B9AB.png" alt=""></a>
                </div>
            </div>
            <a href="#"><div class="nav-right-2code">
                <div class="code2-hover">
                    <a href=""><img src="../images/index-img/sj.png" alt=""></a>
                </div>
            </div></a>
            <a href="#"><div class="nav-right-return"></div></a>
        </div>
    </div>

    <header>
        <div class="header-center">
            <div class="header-left">
                <p>您好，欢迎光临特步官方商城！&emsp;&emsp;&emsp;
                    <a href="./login.html">注册</a>
                    <a href="./login.html">登录</a>
                </p>
            </div>
            <div class="header-right">
                <a href="">我的特步</a>
                <a href="">品牌官网</a>
                <a href="">手机特步</a>
                <a href="">购物车<span style="color: #B61D1D;">(0)</span>件</a>
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search-center">
            <div class="logo">
                <img src="../images/index-img/logo.png" alt="">
            </div>
            <div class="search-search">
                <form action="">
                    <input type="text"><input type="button" value="搜索">
                </form>
            </div>
            <div class="search-img">
               <div class="allimg">
                <img src="../images/index-img/210-70.jpg" alt="">
                <img src="../images/index-img/huiyuan.jpg" alt="">
                <img src="../images/index-img/210-70.jpg" alt="">
               </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-center">
            <a href="">全部商品分类
                <div class="all-item">
                    <p>男鞋</p>
                </div>
            </a>
            <a href="">首页</a>
            <a href="./man.html">跑步
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">男子
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">女子
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">儿童
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">配件
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">马拉松
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">团购定制</a>
        </div>
    </div>
    <div class="banner">
        <img src="../images/index-img/lunbo.jpg" alt="">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="listImg">
        <ul>
            <li><img src="../images/index-img/jingtian.jpg" alt=""></li>
            <li><img src="../images/index-img/lehuaqizi.jpg" alt=""></li>
            <li><img src="../images/index-img/linshuhao1.jpg" alt=""></li>
            <li><img src="../images/index-img/wangdongcheng.jpg" alt=""></li>
            <li><img src="../images/index-img/xietingfeng.jpg" alt=""></li>
            <li><img src="../images/index-img/jingtian.jpg" alt=""></li>
            <li><img src="../images/index-img/lehuaqizi.jpg" alt=""></li>
            <li><img src="../images/index-img/linshuhao1.jpg" alt=""></li>
            <li><img src="../images/index-img/wangdongcheng.jpg" alt=""></li>
            <li><img src="../images/index-img/xietingfeng.jpg" alt=""></li>
        </ul>
    </div>
    <div class="select">
        <img src="../images/index-img/selected.jpg" alt="">
    </div>
    <div class="select-content">
        <div class="select-content-left">
            <div class="left-img1">
                <img src="../images/index-img/text.jpg" alt="">
            </div>
            <div class="left-img2">
                <img src="../images/index-img/malasong(2).jpg" alt="">
                <div class="left-img2-hover">
                    <a href="#"><img src="../images/index-img/malasongc.jpg" alt=""></a>
                </div>
            </div>
            <div class="left-img3">
                <img src="../images/index-img/45.jpg" alt="">
                <div class="left-img3-hover">
                    <a href="#"><img src="../images/index-img/584x326-2.jpg" alt=""></a>
                </div>
            </div>
               
        </div>
        <div class="select-content-right">
            <div class="right-img1">
                <img src="../images/index-img/xinpin1.jpg" alt="">
                <div class="right-img1-hover">
                    <a href="#"><img src="../images/index-img/660x703-2.jpg" alt=""></a>
                </div>
            </div>
            <div class="right-img2">
                <img src="../images/index-img/tshirt.jpg" alt="">
                <div class="right-img2-hover">
                    <a href="#"><img src="../images/index-img/tshirtc.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="video-top"></div>
    <div style="width: 100%;height:564px;overflow: hidden;position: relative;">
        <video autoplay loop muted style="min-width:1440px">
                <source src="../images/index-img/37e62345123a1be272f8b.mp4" type="video/mp4">
        </video>
        <div class="video-content">
            <img src="../images/index-img/shipinsousuowenzi.png" alt="">
        </div>
        <div class="video-search">
                <form action="">
                    <input type="text" placeholder="请输入关键词，点击搜索按钮进行检索"><input type="button" value="搜索">
                </form>
        </div>
    </div>
    <div class="video-bottom">
        <div class="bottom-left"></div>
        <div class="bottom-right"></div>
    </div>
    <div class="show-shop">
        <div class="shop-center">
            <div class="shop-center-top">
                <img src="../images/index-img/changpin_01.jpg" alt="">
            </div>
            <div class="show-content">
                    <div class="show-content-top">
                        <div>
                            <a href="#"><img src="../images/index-img/changpin_03.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img src="../images/index-img/changpin_04.jpg" alt=""></a>
                            <a href="#"><img src="../images/index-img/changpin_07.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img src="../images/index-img/changpin_05.jpg" alt=""></a>
                        </div>
                        <div>
                            <a href="#"><img src="../images/index-img/changpin_06.jpg" alt=""></a>
                            <a href="#"><img src="../images/index-img/changpin_08.jpg" alt=""></a>
                        </div>
                    </div>
                     <div class="show-center-next">
                        <div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_12.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_13.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_14.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_15.jpg  " alt="">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_16.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_17.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_18.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_19.jpg  " alt="">
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_20.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_21.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_22.jpg  " alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="../images/index-img/changpin1_23.jpg  " alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="show-center-buttom">
                        <a href="#">选购更多商品</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="buttom">
        <div class="buttom-top">
            <div class="bottom-top-center">
                <div class="bottom-top-center-left">
                    <ul>
                        <li><h5>关于我们</h5></li>
                        <li><a href="#">公司简介</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                    <ul>
                        <li><h5>购物指南</h5></li>
                        <li><a href="#">常见问题</a></li>
                        <li><a href="#">用户注册</a></li>
                        <li><a href="#">购物流程</a></li>
                    </ul>
                    <ul>
                        <li><h5>售后服务</h5></li>
                        <li><a href="#">配送方式</a></li>
                        <li><a href="#">防伪查询</a></li>
                        <li><a href="#">发票制度</a></li>
                    </ul>
                </div>
                <div class="bottom-top-center-right">
                        <h3>400-008-7666</h3>
                        <p>周一至周日 8:30-21:30</p>
                        <a href="#"><img src="../images/index-img/zxkf1.png" alt=""></a>
                        <p>周一至周日 9:00-23:00</p>
                </div>
            </div>
        </div>
        <div class="buttom-img">
            <img src="../images/index-img/x-footer.jpg" alt="">
        </div>
        <div class="bottom-msg">
                <ul>
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=987">关于特步</a></li>
                    |
        
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=989">帮助中心</a></li>
                    |
        
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=991">友情联接</a></li>
                    |
                    <li>
                        <a href="http://www.xtep.com.cn/showarticle.aspx?id=992">联系我们</a></li>
                </ul>
                <p>
                    特步跑鞋 Copyright 2011 xtep.com 特步运动服 All Rights Reserved 特步官方旗舰店 ICP：闽ICP备05021253号-1 特步官网专卖店
                                </p><div style="width:300px;margin:0 auto; padding:20px 0 0 0;">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35020302001628" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://xtep.oss-cn-hangzhou.aliyuncs.com/guanwang/2016/12/08/1234.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35020302001628号</p></a>
                    </div>
        </div>
        <div class="bottom-foot">
            <div class="bottom-foot-img">
                <img src="../images/index-img/onlinepay.jpg" alt="">
                <img src="../images/index-img/goodwebsite.jpg" alt="">
                <img src="../images/index-img/salf.jpg" alt="">
                <img src="../images/index-img/ei_normal.png" alt="">
                <img src="../images/index-img/brand_bottom_large.jpg" alt="">
            </div>
        </div>
    </div>
</body> 
</html>

<script src="../js/animate.5.0.js"></script>
<script src="../js/index.js"></script>