<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <div class="header-center">
            <div class="header-left">
                <p>您好，欢迎光临特步官方商城！&emsp;&emsp;&emsp;
                    <a href="">注册</a>
                    <a href="">登录</a>
                </p>
            </div>
            <div class="header-right">
                <a href="./login.html">我的特步</a>
                <a href="">品牌官网</a>
                <a href="">手机特步</a>
                <a href="./login.html">购物车<span style="color: #B61D1D;">(0)</span>件</a>
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search-center">
            <div class="logo">
                <img src="../images/index-img/logo.png" alt="">
            </div>
            <div class="search-search">
                <form action="">
                    <input type="text"><input type="button" value="搜索">
                </form>
            </div>
            <div class="search-img">
               <div class="allimg">
                <img src="../images/index-img/210-70.jpg" alt="">
                <img src="../images/index-img/huiyuan.jpg" alt="">
                <img src="../images/index-img/210-70.jpg" alt="">
               </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-center">
            <a href="">全部商品分类
                <div class="all-item">
                    <p>男鞋</p>
                </div>
            </a>
            <a href="./index.html">首页</a>
            <a href="">跑步
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">男子
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">女子
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">儿童
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">配件
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">马拉松
                <div class="run">
                    <div class="run-img"><img src="../images/index-img/paobu.jpg" alt=""></div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">团购定制</a>
        </div>
    </div>
    <div class="login">
        <form action="">
            <div style="width: 100%;height: 40px;">
                <h4>用户登录</h4>
                <span id="open" style="float: right;line-height: 40px;font-size: 12px;color: rgb(253, 39, 39);margin-right: 30px;cursor: pointer;">免费注册>></span> 
            </div>
            <input type="text">
            <input type="password">
            <p><a href="#" style="float: right;font-size: 12px;color: #666666;margin-right: 40px">忘记密码？</a></p>
            <input type="submit" value="登录">
            <p class="other">其他登录方式：
                <a href=""></a>
                <a href=""></a>
            </p>
        </form>
        <div class="registered">
            <span class="close">x</span>
            <div class="registered-left">
                <form action="">
                   <div class="form-content">
                        <h4>快速注册</h4>
                        <p>&emsp;<span>*</span>用户名:<input type="text"></p>
                        <p>&emsp;&emsp;<span>*</span>密码:<input type="text"></p>
                        <p><span>*</span>确认密码:<input type="text"></p>
                        <p>&emsp;<span>*</span>手机号:<input type="text"></p>
                        <p>&emsp;<span>*</span>验证码:<input type="text"><img src="../images/login-img/ValidateCode.jpg" style="display: inline-block;padding: 0px 0 0 10px;vertical-align: middle;cursor: pointer" alt=""></p>
                   </div>
                   <div style="color: #9b9b9b;font-size: 12px;text-align: center"><input type="checkbox">
                       我已看过并接受<a href="#">《特步用户协议》</a>
                    </div>
                    <input type="submit" value="立即注册">
                </form>
            </div>
            <div class="registered-right">
                <p>已有特步账号</p>
                <input type="submit" value="立即登录">
                <p class="other">其他登录方式：
                    <a href=""></a>
                    <a href=""></a>
                </p>
            </div>
        </div>
    </div>
    <div class="buttom" style="transform: translateY(0);">
            <div class="buttom-top">
                <div class="bottom-top-center">
                    <div class="bottom-top-center-left">
                        <ul>
                            <li><h5>关于我们</h5></li>
                            <li><a href="#">公司简介</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                        <ul>
                            <li><h5>购物指南</h5></li>
                            <li><a href="#">常见问题</a></li>
                            <li><a href="#">用户注册</a></li>
                            <li><a href="#">购物流程</a></li>
                        </ul>
                        <ul>
                            <li><h5>售后服务</h5></li>
                            <li><a href="#">配送方式</a></li>
                            <li><a href="#">防伪查询</a></li>
                            <li><a href="#">发票制度</a></li>
                        </ul>
                    </div>
                    <div class="bottom-top-center-right">
                            <h3>400-008-7666</h3>
                            <p>周一至周日 8:30-21:30</p>
                            <a href="#"><img src="../images/index-img/zxkf1.png" alt=""></a>
                            <p>周一至周日 9:00-23:00</p>
                    </div>
                </div>
            </div>
            <div class="buttom-img">
                <img src="../images/index-img/x-footer.jpg" alt="">
            </div>
            <div class="bottom-msg">
                    <ul>
                        <li>
                            <a href="http://www.xtep.com.cn/showarticle.aspx?id=987">关于特步</a></li>
                        |
            
                        <li>
                            <a href="http://www.xtep.com.cn/showarticle.aspx?id=989">帮助中心</a></li>
                        |
            
                        <li>
                            <a href="http://www.xtep.com.cn/showarticle.aspx?id=991">友情联接</a></li>
                        |
                        <li>
                            <a href="http://www.xtep.com.cn/showarticle.aspx?id=992">联系我们</a></li>
                    </ul>
                    <p>
                        特步跑鞋 Copyright 2011 xtep.com 特步运动服 All Rights Reserved 特步官方旗舰店 ICP：闽ICP备05021253号-1 特步官网专卖店
                                    </p><div style="width:300px;margin:0 auto; padding:20px 0 0 0;">
                            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35020302001628" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://xtep.oss-cn-hangzhou.aliyuncs.com/guanwang/2016/12/08/1234.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35020302001628号</p></a>
                        </div>
            </div>
            <div class="bottom-foot">
                <div class="bottom-foot-img">
                    <img src="../images/index-img/onlinepay.jpg" alt="">
                    <img src="../images/index-img/goodwebsite.jpg" alt="">
                    <img src="../images/index-img/salf.jpg" alt="">
                    <img src="../images/index-img/ei_normal.png" alt="">
                    <img src="../images/index-img/brand_bottom_large.jpg" alt="">
                </div>
            </div>
    </div>
</body>
</html>
<script src="../js/ajax.js"></script>
<script src="../js/cookie.js"></script>
<script src="../js/animate.5.0.js"></script>
<script src="../js/login.js"></script>
