<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/man.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body style="background: #F4F4F4">
    <div class="nav-right"></div>
    <div class="nav-right2">
        <div class="nav-right-center">
            <div class="nav-right-logo"></div>
            <div class="nav-right-shopchar">
                <span></span>
                <a href="#">购物车<b style="display:block;width:20px;color: #fff;background: red;text-align: center;border-radius: 50%">0</b></a>
            </div>
            <div class="nav-right-customer">
                <span></span>
                <a href="#">联系客服</a>
                <div class="customer-hover">
                    <a href=""><img src="../images/index-img/20185231412596F6209274F2205DA89EC5D8526DA1558B.png" alt=""></a>
                    <a href=""> <img src="../images/index-img/2018523142146733800F7071E793FDB31B43587EBC4B9AB.png" alt=""></a>
                </div>
            </div>
            <a href="#"><div class="nav-right-2code">
                <div class="code2-hover">
                    <a href=""><img src="../images/index-img/sj.png" alt=""></a>
                </div>
            </div></a>
            <a href="#"><div class="nav-right-return"></div></a>
        </div>
    </div>
    
    <header>
        <div class="header-center">
            <div class="header-left">
                <p>您好，欢迎光临特步官方商城！&emsp;&emsp;&emsp;
                    <a href="">注册</a>
                    <a href="">登录</a>
                </p>
            </div>
            <div class="header-right">
                <a href="./login.html">我的特步</a>
                <a href="">品牌官网</a>
                <a href="">手机特步</a>
                <a href="./login.html">购物车
                    <span style="color: #B61D1D;">(0)</span>件</a>
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search-center">
            <div class="logo">
                <img src="../images/index-img/logo.png" alt="">
            </div>
            <div class="search-search">
                <form action="">
                    <input type="text">
                    <input type="button" value="搜索">
                </form>
            </div>
            <div class="search-img">
                <div class="allimg">
                    <img src="../images/index-img/210-70.jpg" alt="">
                    <img src="../images/index-img/huiyuan.jpg" alt="">
                    <img src="../images/index-img/210-70.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-center">
            <a href="">全部商品分类
                <div class="all-item">
                    <p>男鞋</p>
                </div>
            </a>
            <a href="./index.html">首页</a>
            <a href="">跑步
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">男子
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">女子
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">儿童
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">配件
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">马拉松
                <div class="run">
                    <div class="run-img">
                        <img src="../images/index-img/paobu.jpg" alt="">
                    </div>
                    <div class="run-text">
                        <p>男子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>女子跑步</p>
                        <div>
                            <span>跑步鞋</span>
                            <span>跑步服</span>
                        </div>
                        <p>新品推荐</p>
                        <div>
                            <span>减震旋科技</span>
                            <span>动力巢科技</span>
                            <span>气能环科技</span>
                            <span>柔立方科技</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="">团购定制</a>
        </div>
    </div>
    <div class="commodity">
        <div class="comm-left">
            <h4>本月销量排行</h4>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan1.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan2.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan3.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan4.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan5.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-content">
                <div class="comm-num">
                    <img src="../images/man-img/paihan6.png" alt="">
                </div>
                <div class="comm-img">
                    <a href="#">
                        <img src="../images/man-img/2020871440327962878D22E17C1BEECC0F9B01FAC1C6918.jpg" alt="">
                    </a>
                </div>
                <p>
                    <a href="#">【动力巢科技】特步 男子跑鞋 20年新款时尚透气柔软弹力跑鞋</a>
                </p>
                <h3>
                    <span>￥</span>289.00</h3>
                <p>已售出
                    <span>116</span>件</p>
            </div>
            <div class="comm-left-bottom">
                <h3>
                    <span>最近浏览</span>
                </h3>
            </div>
        </div>
        <div class="comm-right">
            <div class="comm-right-top">
                <div class="comm-right-top-class">
                    <span>分类:</span>
                    <div>
                        <a href="">男鞋
                            <div class="comm-hover">
                                <span>跑步鞋</span>
                                <span>篮球鞋</span>
                                <span>休闲鞋</span>
                                <span>板鞋</span>
                                <span>综训鞋</span>
                                <span>帆布鞋</span>
                                <span>户外鞋</span>
                            </div>
                        </a>
                        <a href="#">女鞋
                            <div class="comm-hover">
                                <span>跑步鞋</span>
                                <span>休闲鞋</span>
                                <span>板鞋</span>
                                <span>综训鞋</span>
                                <span>帆布鞋</span>
                                <span>户外鞋</span>
                            </div>
                        </a>
                        <a href="#">男装
                            <div class="comm-hover">
                                <span>运动T恤</span>
                                <span>休闲T恤</span>
                                <span>短裤</span>
                                <span>长裤</span>
                                <span>针织衫/卫衣/长T</span>
                                <span>运动套装</span>
                                <span>风衣夹克</span>
                                <span>棉服</span>
                                <span>羽绒服</span>
                            </div>
                        </a>
                        <a href="#">女装
                            <div class="comm-hover">
                                <span>运动T恤</span>
                                <span>休闲T恤</span>
                                <span>短裤</span>
                                <span>长裤</span>
                                <span>运动套装</span>
                                <span>针织衫/卫衣/长T</span>
                                <span>风衣夹克</span>
                                <span>棉服</span>
                                <span>羽绒服</span>
                                <span>运动胸衣</span>
                            </div>
                        </a>
                        <a href="#">童鞋
                            <div class="comm-hover">
                                <span>跑步鞋</span>
                                <span>休闲鞋</span>
                                <span>板鞋</span>
                                <span>篮球鞋</span>
                                <span>健康鞋</span>
                                <span>凉鞋</span>
                            </div>
                        </a>
                        <a href="#">童装
                            <div class="comm-hover">
                                <span>短袖</span>
                                <span>短裤</span>
                                <span>长裤</span>
                                <span>套装</span>
                                <span>外套夹克</span>
                                <span>羽绒服/棉服</span>
                                <span>针织衫/卫衣/长T</span>
                            </div>
                        </a>
                        <a href="#">运动配件
                            <div class="comm-hover">
                                <span>运动包</span>
                                <span>运动袜</span>
                                <span>帽子</span>
                                <span>护具</span>
                                <span>内裤</span>
                                <span>其他</span>
                                <span>户外鞋</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="comm-right-top-price">
                    <span>价格:</span>
                    <p>
                        <a href="#">0 - 200</a>
                        <a href="#">200 - 400</a>
                        <a href="#">400 - 600</a>
                        <a href="#">600 - 800</a>
                    </p>
                </div>
                <div class="comm-right-top-brand">
                    <span>品牌：</span>
                    <p>
                        <a href="#">特步</a>
                        <a href="#">儿童</a>
                        <a href="#">特步儿童</a>
                    </p>
                </div>
            </div>
            <div class="comm-right-sequence">
                <ul>
                    <li>
                        <a href="#">综合排名</a>
                    </li>
                    <li>
                        <a href="#">按销量</a>
                    </li>
                    <li>
                        <a href="#">按价格</a>
                    </li>
                    <li>
                        <a href="#">按时间</a>
                    </li>
                    <li>
                        <a href="#">按评价</a>
                    </li>
                </ul>
                <p>共
                    <span>260</span>件
                </p>
            </div>
            <div class="commList">
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="./commodity.html">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
                <div class="commList-content">
                    <div class="commList-content-img">
                        <a href="">
                            <img src="../images/man-img/20208171637172227735E7C631F4117F0722B4C113A2EB2A.jpg" alt="">
                        </a>
                    </div>
                    <div class="commList-content-text">
                        <p>
                            <a href="#">特步 专柜款 女子跑鞋20年新款 复古潮流女子运动跑步鞋980318110677</a>
                        </p>
                        <h3>
                            会员价：
                            <span>￥369</span>
                        </h3>
                        <p>已售出:
                            <span>33</span>
                            <span>0条</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="commPage">
                <div style="padding: 10px 0">
                    <span>(共260条)</span>
                    <input type="button" value="上一页">
                     <a href="">1</a>   
                     <a href="">2</a>   
                     <a href="">3</a>   
                     <a href="">4</a>   
                     <a href="">5</a>   
                    <input type="button" value="下一页">
                </div>
            </div>
        </div>
    </div>

    <div class="buttom" style="transform: translateY(0);">
        <div class="buttom-top">
            <div class="bottom-top-center">
                <div class="bottom-top-center-left">
                    <ul>
                        <li>
                            <h5>关于我们</h5>
                        </li>
                        <li>
                            <a href="#">公司简介</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h5>购物指南</h5>
                        </li>
                        <li>
                            <a href="#">常见问题</a>
                        </li>
                        <li>
                            <a href="#">用户注册</a>
                        </li>
                        <li>
                            <a href="#">购物流程</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h5>售后服务</h5>
                        </li>
                        <li>
                            <a href="#">配送方式</a>
                        </li>
                        <li>
                            <a href="#">防伪查询</a>
                        </li>
                        <li>
                            <a href="#">发票制度</a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-top-center-right">
                    <h3>400-008-7666</h3>
                    <p>周一至周日 8:30-21:30</p>
                    <a href="#">
                        <img src="../images/index-img/zxkf1.png" alt="">
                    </a>
                    <p>周一至周日 9:00-23:00</p>
                </div>
            </div>
        </div>
        <div class="buttom-img">
            <img src="../images/index-img/x-footer.jpg" alt="">
        </div>
        <div class="bottom-msg">
            <ul>
                <li>
                    <a href="http://www.xtep.com.cn/showarticle.aspx?id=987">关于特步</a>
                </li>
                |

                <li>
                    <a href="http://www.xtep.com.cn/showarticle.aspx?id=989">帮助中心</a>
                </li>
                |

                <li>
                    <a href="http://www.xtep.com.cn/showarticle.aspx?id=991">友情联接</a>
                </li>
                |
                <li>
                    <a href="http://www.xtep.com.cn/showarticle.aspx?id=992">联系我们</a>
                </li>
            </ul>
            <p>
                特步跑鞋 Copyright 2011 xtep.com 特步运动服 All Rights Reserved 特步官方旗舰店 ICP：闽ICP备05021253号-1 特步官网专卖店
            </p>
            <div style="width:300px;margin:0 auto; padding:20px 0 0 0;">
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35020302001628" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="http://xtep.oss-cn-hangzhou.aliyuncs.com/guanwang/2016/12/08/1234.png" style="float:left;">
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35020302001628号</p>
                </a>
            </div>
        </div>
        <div class="bottom-foot">
            <div class="bottom-foot-img">
                <img src="../images/index-img/onlinepay.jpg" alt="">
                <img src="../images/index-img/goodwebsite.jpg" alt="">
                <img src="../images/index-img/salf.jpg" alt="">
                <img src="../images/index-img/ei_normal.png" alt="">
                <img src="../images/index-img/brand_bottom_large.jpg" alt="">
            </div>
        </div>
    </div>
</body>

</html>
<script src="../js/animate.5.0.js"></script>
<script src="../js/man.js"></script>